body {
  width: 95%;
  margin: 0 auto;
  margin-top: 1%;
}

.title {
  text-align: center;
  padding: 1.5%;
}

.card-text {
  font-size: 12pt;
  font-weight: 400;
}

.card-title {
  padding: 1%;
}

.category {
  text-align: center;
  border: 1px solid #ddd;
  padding: 1.5%;
  margin: 1%;
  padding-bottom: 2%;
}

.category-title {
  text-align: left;
  padding: 1%;
  padding-bottom: 2%;
}
